CASS_USER=<CASS_USER>
CASS_PASSWD=<CASS_PASSWD>
CASS_RPC_ADDR=<CASS_RPC_ADDR>
MGX_CASS_CREDS="<CASS_USER>:<CASS_PASSWD>"
MGX_GW_X_API_KEY="<X_API_KEY>"
MGX_X_API_KEY="<X_API_KEY>"
MGX_GW_ADMIN_PASSWD=<MGX_GW_ADMIN_PASSWD>
