CASS_USER=<CASS_USER>
CASS_PASSWD=<CASS_PASSWD>
MGX_GW_X_API_KEY="<X_API_KEY>"
MGX_X_API_KEY="<X_API_KEY>"
MGX_GW_ADMIN_PASSWD=<MGX_GW_ADMIN_PASSWD>
MGX_STORAGE_ENC_SECRETS="base64<{"key": "secret"}>"
